/* ====================== */
/*         ASSETS         */
/* ====================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

:focus {
  outline: 0; }

.clear {
  clear: both;
  line-height: 0;
  font-size: 0; }

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

header,
nav,
section,
article,
aside,
footer {
  display: block; }

/* FONTS */
@font-face {
  font-family: 'Museo100';
  src: url("../fonts/MuseoSans-100.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/MuseoSans-100.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans-100.woff2") format("woff2"), url("../fonts/MuseoSans-100.woff") format("woff"), url("../fonts/MuseoSans-100.ttf") format("truetype"), url("../fonts/MuseoSans-100.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Museo300';
  src: url("../fonts/MuseoSans-300.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/MuseoSans-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans-300.woff2") format("woff2"), url("../fonts/MuseoSans-300.woff") format("woff"), url("../fonts/MuseoSans-300.ttf") format("truetype"), url("../fonts/MuseoSans-300.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Museo500';
  src: url("../fonts/MuseoSans-500.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/MuseoSans-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans-500.woff2") format("woff2"), url("../fonts/MuseoSans-500.woff") format("woff"), url("../fonts/MuseoSans-500.ttf") format("truetype"), url("../fonts/MuseoSans-500.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
/* Body */
body {
  font-family: "Museo100";
  color: #8b8b8b; }

h1 {
  font-size: 44px;
  color: #555555; }

h2 {
  font-size: 34px;
  color: #555555;
  margin-bottom: 28px;
  font-weight: 300; }

h3 {
  font-size: 24px;
  color: #555555;
  line-height: 26px;
  margin-bottom: 40px;
  font-weight: 400; }

h4 {
  font-size: 20px;
  color: #555555; }

h5 {
  font-size: 18px;
  color: #555555; }

h6 {
  font-size: 17px;
  color: #555555; }

p {
  font-size: 20px;
  font-weight: 100;
  line-height: 32px;
  margin-bottom: 30px; }

a {
  color: #8b8b8b; }

.cs_btn {
  display: block;
  width: 168px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  line-height: 50px;
  font-family: "Museo500";
  font-size: 16px;
  color: #555555; }
  .cs_btn:hover {
    background: #F6F6F6;
    text-decoration: none !important; }

button {
  font-family: "Museo500";
  font-size: 18px;
  color: #555555;
  width: 322px;
  height: 45px;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  display: inline-block; }

input[type="submit"] {
  font-family: "Museo500";
  font-size: 18px;
  color: #555555;
  width: 322px;
  line-height: 45px;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  cursor: pointer; }

input[type="submit"]:hover {
  background: #F6F6F6; }

input[type="text"], input[type="tel"], input[type="email"], input[type="number"], input[type="password"] {
  font-size: 17px;
  width: 322px;
  height: 45px;
  padding: 0 10px;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  background: #FCFCFC; }

input[type="text"]:hover, input[type="tel"]:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover {
  border: 1px solid #EB2929; }

blockquote {
  font-size: 20px; }

select {
  font-size: 17px;
  width: 322px;
  height: 45px;
  border: 1px solid #EBEBEB;
  border-radius: 3px; }

select:hover {
  border: 1px solid #EB2929; }

textarea {
  font-size: 17px;
  width: 308px;
  height: 245px;
  padding: 15px 15px;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  resize: none;
  background: #FCFCFC; }

ul {
  font-size: 20px;
  margin-bottom: 58px; }
  ul li {
    margin-bottom: 10px;
    line-height: 32px;
    color: #8b8b8b;
    list-style: none;
    background: url(../images/bullet.png) no-repeat left;
    padding: 32px 0 0 33px; }
@media (min-width: 320px) and (max-width: 767px) {
  ul li {
    background: url(../images/bullet.png) no-repeat left top 44px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  ul li {
    background: url(../images/bullet.png) no-repeat left top 44px; } }

ol {
  list-style: inherit;
  font-size: 20px;
  margin-bottom: 58px;
  margin-left: 20px; }
  ol li {
    margin-bottom: 10px;
    line-height: 32px;
    color: #8b8b8b;
    list-style: inherit;
    padding-left: 17px; }

ol {
  list-style-type: decimal; }

hr {
  border: 1px solid #EBEBEB;
  margin-bottom: 53px; }

/* ====================== */
/*         LAYOUT         */
/* ====================== */
/* HEADER */
#cs_header {
  background: url(../images/banner.jpg) no-repeat center center;
  background-size: cover;
  height: 890px;
  margin-bottom: 125px;
  /* tablet responsive */
  /* tablet responsive */
  /* phone responsive */
  /* phone responsive */ }
@media (min-width: 1024px) and (max-width: 1024px) {
  #cs_header {
    background: url(../images/banner.jpg) no-repeat top;
    background-position: 0 -200px;
    height: auto;
    padding-bottom: 50px !important;
    margin-bottom: 50px; } }

@media (min-width: 768px) and (max-width: 1022px) {
  #cs_header {
    width: 100%;
    background: none;
    height: auto;
    margin-bottom: 55px;
    padding-bottom: 25px; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_header {
    width: 100%;
    background: none;
    height: auto;
    margin-bottom: 48px;
    padding-bottom: 25px; } }

  #cs_header.cs_header_inner {
    height: 372px;
    background-position: 0px -213px;
    background-size: 100% auto; }
@media (min-width: 768px) and (max-width: 1022px) {
  #cs_header.cs_header_inner {
    height: auto; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_header.cs_header_inner {
    height: auto; } }

    #cs_header.cs_header_inner .cs_header_bar {
      background: #ffffff;
      border-bottom: #EBEBEB 1px solid; }
  #cs_header .cs_header_bar {
    line-height: 82px;
    padding: 0 44px;
    height: 82px;
    /* tablet responsive */
    /* phone responsive */ }
@media (min-width: 768px) and (max-width: 1022px) {
  #cs_header .cs_header_bar {
    padding: 0 25px; }
    #cs_header .cs_header_bar .menu_button i {
      display: inline-block;
      margin: 29px 0;
      font-size: 23px;
      float: right; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_header .cs_header_bar {
    padding: 0 25px; }
    #cs_header .cs_header_bar .menu_button i {
      display: inline-block;
      margin: 29px 0;
      font-size: 23px;
      float: right; } }

  #cs_header #cs_logo {
    font-size: 23px;
    font-family: "Museo300";
    float: left;
    font-weight: normal; }
    #cs_header #cs_logo a {
      text-decoration: none; }
      #cs_header #cs_logo a:hover {
        color: #555555; }
  #cs_header .menu_button i {
    display: none; }
  #cs_header #cs_nav {
    float: right;
    font-size: 16px;
    font-family: "Museo300";
    /* tablet responsive */
    /* phone responsive */ }
@media (min-width: 768px) and (max-width: 1022px) {
  #cs_header #cs_nav {
    display: none;
    float: left;
    text-align: center;
    width: 100%; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_header #cs_nav {
    display: none;
    float: left;
    text-align: center;
    width: 100%; } }

    #cs_header #cs_nav ul {
      list-style: none;
      /* tablet responsive */
      /* phone responsive */ }
@media (min-width: 768px) and (max-width: 1022px) {
  #cs_header #cs_nav ul {
    margin-bottom: 50px; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_header #cs_nav ul {
    margin-bottom: 50px; } }

      #cs_header #cs_nav ul li {
        margin-left: 32px;
        float: left;
        position: relative;
        background: none;
        padding: 0;
        /* tablet responsive */
        /* phone responsive */ }
@media (min-width: 768px) and (max-width: 1022px) {
  #cs_header #cs_nav ul li {
    float: none;
    margin-bottom: 0;
    margin-left: 0; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_header #cs_nav ul li {
    float: none;
    margin-bottom: 0;
    margin-left: 0; } }

        #cs_header #cs_nav ul li a {
          text-decoration: none;
          text-transform: uppercase;
          color: #555555;
          line-height: 82px;
          display: block;
          font-weight: 300;
          /* tablet responsive */
          /* phone responsive */ }
@media (min-width: 768px) and (max-width: 1022px) {
  #cs_header #cs_nav ul li a {
    line-height: 60px; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_header #cs_nav ul li a {
    line-height: 60px; } }

          #cs_header #cs_nav ul li a:hover {
            color: #c6c6c6; }
        #cs_header #cs_nav ul li ul {
          position: absolute;
          width: 170px;
          display: none;
          /* tablet responsive */
          /* phone responsive */ }
@media (min-width: 768px) and (max-width: 1022px) {
  #cs_header #cs_nav ul li ul {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 30px; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_header #cs_nav ul li ul {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 30px; } }

          #cs_header #cs_nav ul li ul li {
            margin: 0;
            float: none; }
            #cs_header #cs_nav ul li ul li a {
              background: #8b8b8b;
              line-height: 25px;
              border-bottom: #ffffff 1px solid;
              padding: 5px;
              font-size: 14px;
              text-transform: capitalize;
              color: #ffffff;
              /* tablet responsive */
              /* phone responsive */ }
@media (min-width: 768px) and (max-width: 1022px) {
  #cs_header #cs_nav ul li ul li a {
    background: white;
    color: #000000;
    display: inline-block;
    border-bottom: 1px solid #555555; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_header #cs_nav ul li ul li a {
    background: white;
    color: #000000;
    display: inline-block;
    border-bottom: 1px solid #555555; } }

              #cs_header #cs_nav ul li ul li a:hover {
                background: #555555;
                color: #ffffff; }
            #cs_header #cs_nav ul li ul li:hover > a {
              background: #555555;
              color: #ffffff; }
            #cs_header #cs_nav ul li ul li:hover > a {
              background: #555555;
              color: #ffffff; }
          #cs_header #cs_nav ul li ul ul {
            left: 100%;
            border-left: #ffffff 1px solid;
            top: 0; }
        #cs_header #cs_nav ul li:hover > ul {
          display: block; }
        #cs_header #cs_nav ul li:hover > a {
          color: #c6c6c6; }
  #cs_header .cs_responsive_banner {
    padding: 78px 500px 0 78px !important; }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_header .cs_responsive_border {
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 28px !important; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_header .cs_responsive_banner {
    float: left;
    padding-top: 0 !important; } }

@media (min-width: 1023px) and (max-width: 1023px) {
  #cs_header .cs_responsive_banner {
    padding-top: 0px !important; } }

@media (min-width: 768px) and (max-width: 1022px) {
  #cs_header .cs_responsive_banner {
    float: left;
    padding-right: 24px !important;
    padding-top: 0 !important;
    padding-left: 24px !important; } }

  #cs_header .cs_container {
    padding: 131px 500px 0 0;
    /* tablet responsive */
    /* tablet responsive */ }
    #cs_header .cs_container h1 {
      margin-bottom: 36px;
      font-weight: 100;
      font-size: 44px;
      color: #555555;
      line-height: 38px;
      text-transform: uppercase;
      /* tablet responsive */
      /* tablet responsive */
      /* phone responsive */ }
@media (min-width: 1024px) and (max-width: 1024px) {
  #cs_header .cs_container h1 {
    padding-top: 85px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  #cs_header .cs_container h1 {
    padding-top: 85px; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_header .cs_container h1 {
    padding-top: 85px;
    font-size: 36px;
    line-height: 45px; } }

    #cs_header .cs_container p {
      color: #555555;
      font-size: 19px;
      margin-bottom: 38px;
      line-height: 28px; }
@media (min-width: 1024px) and (max-width: 1024px) {
  #cs_header .cs_container p {
    width: 70%; } }

@media (min-width: 768px) and (max-width: 1022px) {
  #cs_header .cs_container .cs_banner {
    width: 100%;
    margin-bottom: 35px;
    display: block !important; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_header .cs_container .cs_banner {
    width: 100%;
    margin-bottom: 35px;
    display: block !important; } }

    #cs_header .cs_container .cs_banner {
      display: none; }

/* ======= FOOTER ======= */
#cs_footer {
  width: 100%;
  background: #FCFCFC;
  border-top: 1px solid #EBEBEB;
  padding-top: 59px;
  clear: both;
  overflow: hidden;
  padding-bottom: 70px;
  /* phone responsive */ }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_footer {
    padding: 59px 0; } }

  #cs_footer h4 {
    text-transform: uppercase; }
  #cs_footer .cs_footer_menu {
    width: 101px;
    float: left;
    margin-right: 179px;
    /* tablet responsive */
    /* phone responsive */ }
@media (min-width: 1024px) and (max-width: 1024px) {
  #cs_footer .cs_footer_menu {
    margin-right: 50px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  #cs_footer .cs_footer_menu {
    width: 50%;
    height: auto;
    margin-bottom: 38px;
    margin-right: 0; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_footer .cs_footer_menu {
    width: 100%;
    height: auto;
    margin-bottom: 38px;
    margin-right: 0; } }

    #cs_footer .cs_footer_menu h4 {
      font-size: 20px;
      color: #555555;
      margin-bottom: 15px;
      font-weight: 100;
      letter-spacing: 1px; }
    #cs_footer .cs_footer_menu ul {
      /* tablet responsive */
      /* phone responsive */ }
@media (min-width: 768px) and (max-width: 1023px) {
  #cs_footer .cs_footer_menu ul {
    margin-bottom: 0; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_footer .cs_footer_menu ul {
    margin-bottom: 0; } }

      #cs_footer .cs_footer_menu ul li {
        list-style: none;
        background: none;
        padding: 0;
        margin-bottom: 0; }
        #cs_footer .cs_footer_menu ul li a {
          font-size: 14px;
          color: #8b8b8b;
          text-decoration: none;
          line-height: 27px; }
          #cs_footer .cs_footer_menu ul li a:hover {
            color: #000000; }
  #cs_footer .cs_quick_links {
    width: 200px;
    float: left;
    margin-right: 83px;
    /* tablet responsive */
    /* phone responsive */ }
@media (min-width: 1024px) and (max-width: 1024px) {
  #cs_footer .cs_quick_links {
    margin-right: 50px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  #cs_footer .cs_quick_links {
    width: 50%;
    height: auto;
    margin-bottom: 47px;
    margin-right: 0; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_footer .cs_quick_links {
    width: 100%;
    height: auto;
    margin-bottom: 47px;
    margin-right: 0; } }

    #cs_footer .cs_quick_links h4 {
      font-size: 20px;
      color: #555555;
      margin-bottom: 20px;
      font-weight: 100;
      letter-spacing: 1px; }
    #cs_footer .cs_quick_links ul {
      /* phone responsive */ }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_footer .cs_quick_links ul {
    margin-bottom: 0; } }

      #cs_footer .cs_quick_links ul li {
        list-style: none;
        background: none;
        padding: 0;
        margin-bottom: 14px;
        line-height: 27px; }
        #cs_footer .cs_quick_links ul li a {
          font-size: 14px;
          color: #8b8b8b;
          text-decoration: none;
          display: inline-block; }
          #cs_footer .cs_quick_links ul li a:hover {
            color: #000000; }
  #cs_footer .cs_content {
    width: 271px;
    float: left;
    margin-right: 77px;
    /* tablet responsive */
    /* phone responsive */ }
    #cs_footer .cs_content a {
      display: block;
      margin-bottom: 41px; }
@media (min-width: 1024px) and (max-width: 1024px) {
  #cs_footer .cs_content {
    margin-right: 50px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  #cs_footer .cs_content {
    width: 50%;
    height: auto;
    margin-bottom: 60px;
    margin-right: 0;
    clear: both; }
    #cs_footer .cs_content .cs_footer_approach {
      display: block !important; }
    #cs_footer .cs_content .cs_footer_touch {
      display: none; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_footer .cs_content {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    margin-right: 0; }
    #cs_footer .cs_content .cs_footer_approach {
      display: block !important; }
    #cs_footer .cs_content .cs_footer_touch {
      display: none; } }

    #cs_footer .cs_content .cs_footer_approach {
      display: none; }
    #cs_footer .cs_content h4 {
      font-size: 20px;
      color: #555555;
      margin-bottom: 13px;
      font-weight: 100;
      letter-spacing: 1px; }
    #cs_footer .cs_content p {
      font-size: 14px;
      color: #8b8b8b;
      line-height: 27px;
      /* phone responsive */ }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_footer .cs_content p {
    margin-bottom: 0; } }

      #cs_footer .cs_content p a {
        text-decoration: none; }
        #cs_footer .cs_content p a:hover {
          color: #000000; }
    #cs_footer .cs_content a {
      text-decoration: none;
      line-height: 27px; }
      #cs_footer .cs_content a:hover {
        color: #000000; }
  #cs_footer .cs_copy_right {
    float: right;
    /* tablet responsive */
    /* phone responsive */ }
@media (min-width: 768px) and (max-width: 1023px) {
  #cs_footer .cs_copy_right {
    width: 50%;
    height: auto; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_footer .cs_copy_right {
    width: 100%;
    height: auto; } }

    #cs_footer .cs_copy_right h4 {
      font-size: 20px;
      color: #555555;
      margin-bottom: 12px;
      font-weight: 100;
      letter-spacing: 1px; }
    #cs_footer .cs_copy_right p {
      font-size: 14px;
      color: #8b8b8b;
      margin-bottom: 41px;
      line-height: 27px; }
      #cs_footer .cs_copy_right p a {
        color: #8b8b8b; }
        #cs_footer .cs_copy_right p a:hover {
          color: #000000; }

/* ======== BASE ======== */
.cs_container {
  width: 1148px;
  margin: 0 auto; }
@media (min-width: 1024px) and (max-width: 1024px) {
  .cs_container {
    width: 100%;
    padding: 0 24px !important; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .cs_container {
    width: 100%;
    padding: 0 24px !important; } }

@media (min-width: 320px) and (max-width: 767px) {
  .cs_container {
    width: 100%;
    padding: 0 24px !important; } }

.cs_therapist {
  width: 167px;
  height: 280px; }

#cs_services {
  width: 1146px;
  height: auto;
  margin: 0 auto 114px; }
@media (min-width: 768px) and (max-width: 1024px) {
  #cs_services {
    width: 100%;
    padding: 0 24px;
    margin-bottom: 60px; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_services {
    width: 100%;
    padding: 0 24px;
    margin-bottom: 60px; } }

  #cs_services .cs_services_top_text {
    margin-bottom: 65px; }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_services .cs_services_top_text {
    margin-bottom: 38px; } }

    #cs_services .cs_services_top_text h2 {
      margin-bottom: 30px;
      font-weight: 300; }
  #cs_services .cs_services_image {
    margin-bottom: 78px; }
@media (min-width: 768px) and (max-width: 1024px) {
  #cs_services .cs_services_image {
    margin-bottom: 50px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  #cs_services .cs_feature_services {
    width: 100%; } }

  #cs_services .cs_feature_services .cs_services_wrap {
    margin-bottom: 30px;
    padding-bottom: 30px;
    display: block;
    border-bottom: 1px solid #EBEBEB;
    clear: both;
    overflow: hidden; }
@media (min-width: 768px) and (max-width: 1024px) {
  #cs_services .cs_feature_services .cs_services_wrap img {
    width: 100%;
    margin-bottom: 30px; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_services .cs_feature_services .cs_services_wrap img {
    width: 100%;
    margin-bottom: 24px; } }

    #cs_services .cs_feature_services .cs_services_wrap div img {
      float: left; }
  #cs_services .cs_feature_services .cs_services_wrap:last-child {
    margin-bottom: 60px;
    padding-bottom: 60px; }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_services .cs_feature_services .cs_services_wrap:last-child {
    padding-bottom: 35px;
    margin-bottom: 35px; } }

  #cs_services .cs_feature_services .cs_services_text {
    width: 517px;
    float: right; }
@media (min-width: 768px) and (max-width: 1024px) {
  #cs_services .cs_feature_services .cs_services_text {
    float: none;
    width: 100%;
    height: auto; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_services .cs_feature_services .cs_services_text {
    width: 100%; } }

  #cs_services .cs_feature_services div:nth-child(2) img {
    float: right; }
  #cs_services .cs_feature_services div:nth-child(2) div {
    float: left; }
  #cs_services .cs_feature_services h3 {
    margin-bottom: 35px;
    color: #555555;
    text-decoration: none; }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_services .cs_feature_services h3 {
    margin-bottom: 27px; } }

  #cs_services .cs_feature_services p {
    margin-bottom: 30px; }
  #cs_services .cs_feature_services a {
    color: #555555;
    text-decoration: none;
    font-weight: 300; }
    #cs_services .cs_feature_services a:hover {
      text-decoration: underline; }
  #cs_services .cs_services_text_wrap {
    overflow: hidden;
    margin-bottom: 24px; }
@media (min-width: 768px) and (max-width: 1024px) {
  #cs_services .cs_services_text_wrap {
    width: 100%;
    margin-bottom: 0; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_services .cs_services_text_wrap {
    width: 100%; } }

    #cs_services .cs_services_text_wrap .cs_all_services_text {
      width: 530px;
      height: 155px;
      margin-bottom: 55px;
      float: left; }
      #cs_services .cs_services_text_wrap .cs_all_services_text a {
        text-decoration: none;
        font-weight: 300; }
        #cs_services .cs_services_text_wrap .cs_all_services_text a:hover {
          text-decoration: underline; }
@media (min-width: 768px) and (max-width: 1024px) {
  #cs_services .cs_services_text_wrap .cs_all_services_text {
    width: 100%; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_services .cs_services_text_wrap .cs_all_services_text {
    width: 100%;
    height: auto;
    margin-bottom: 0; } }

    #cs_services .cs_services_text_wrap #cs_all_services_right {
      float: right;
      /*a{
      	text-decoration: none;
      }*/ }

#cs_therapists {
  background: #FCFCFC;
  padding: 106px 0;
  border-top: #EBEBEB 1px solid;
  border-bottom: #EBEBEB 1px solid;
  overflow: hidden;
  margin-bottom: 108px; }
@media (min-width: 768px) and (max-width: 1024px) {
  #cs_therapists {
    width: 100%;
    padding: 80px 0;
    text-align: center; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_therapists {
    padding: 60px 0; } }

  #cs_therapists .cs_mobile_col {
    width: 50%;
    float: left;
    padding-right: 30px; }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_therapists .cs_mobile_col {
    width: 100%;
    float: none;
    padding: 0; } }

  #cs_therapists .cs_mobile_col_2 {
    width: 50%;
    float: left; }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_therapists .cs_mobile_col_2 {
    width: 100%;
    float: none;
    padding: 0; } }

  #cs_therapists .cs_mobile_col_3 {
    width: 33.33%;
    float: left;
    padding-right: 36px; }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_therapists .cs_mobile_col_3 {
    width: 100%;
    float: none;
    padding: 0; } }

  #cs_therapists .cs_mobile_col_4 {
    width: 33.33%;
    float: left; }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_therapists .cs_mobile_col_4 {
    width: 100%;
    float: none;
    padding: 0; } }

  #cs_therapists .cs_therapist_6 {
    margin-right: 0 !important; }
@media (min-width: 768px) and (max-width: 1024px) {
  #cs_therapists .cs_therapist_6 {
    margin-right: 35px !important;
    vertical-align: top; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_therapists .cs_therapist_6 {
    margin: 0 auto !important; } }

  #cs_therapists h2 {
    margin-bottom: 32px; }
  #cs_therapists p {
    margin-bottom: 45px;
    font-size: 19px; }
  #cs_therapists .cs_therapist {
    width: 167px;
    height: 280px;
    float: left;
    margin: 0 29px 21px 0; }
@media (min-width: 768px) and (max-width: 1024px) {
  #cs_therapists .cs_therapist {
    float: none;
    display: inline-block;
    vertical-align: top; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_therapists .cs_therapist {
    text-align: center;
    margin: 0 auto;
    float: none; } }

    #cs_therapists .cs_therapist a {
      text-decoration: none; }
    #cs_therapists .cs_therapist img {
      margin-bottom: 21px; }
    #cs_therapists .cs_therapist h6 {
      margin-bottom: 12px;
      color: #555555; }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_therapists .cs_therapist h6 {
    text-align: left;
    margin-bottom: 9px; } }

    #cs_therapists .cs_therapist p {
      font-size: 13px;
      margin-bottom: 45px;
      color: #8b8b8b;
      line-height: 15px; }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_therapists .cs_therapist p {
    text-align: left; } }

    #cs_therapists .cs_therapist:hover img {
      opacity: 0.7; }

#cs_booking {
  width: 100%;
  height: auto;
  float: left;
  clear: both;
  overflow: hidden; }
  #cs_booking .gform-txt-container {
    width: 290px;
    height: auto;
    float: left; }
@media (min-width: 768px) and (max-width: 1024px) {
  #cs_booking .gform-txt-container {
    width: 100%;
    margin-top: 70px; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_booking .gform-txt-container {
    width: 100%;
    float: none;
    margin-top: 70px; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_booking .gform_fields.top_label.form_sublabel_below.description_below {
    padding: 0 !important; } }

  #cs_booking .gf-heading {
    margin-bottom: 20px;
    font-weight: 400; }
  #cs_booking .gf-text {
    margin-bottom: 20px;
    line-height: 26px; }
  #cs_booking .cs-booking-anchor {
    font-family: "Museo100";
    font-size: 17px;
    color: #8b8b8b;
    margin-top: 5px; }
    #cs_booking .cs-booking-anchor:hover {
      color: #555555; }
  #cs_booking .gform-container {
    width: 738px;
    height: 430px;
    margin-bottom: 108px;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    box-shadow: 0px 0px 15px #EBEBEB;
    float: right; }
@media (min-width: 768px) and (max-width: 1024px) {
  #cs_booking .gform-container {
    width: 100%;
    margin-top: 46px;
    margin-bottom: 60px; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_booking .gform-container {
    width: 100%;
    height: auto;
    padding: 45px 24px;
    margin-top: 46px;
    margin-bottom: 60px; } }

  #cs_booking .gform_body {
    width: 738px;
    height: 287px;
    padding: 0;
    padding-top: 45px; }
@media (min-width: 768px) and (max-width: 1024px) {
  #cs_booking .gform_body {
    width: 100%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  #cs_booking .gform_body input[type="text"], #cs_booking .gform_body input[type="tel"], #cs_booking .gform_body input[type="email"], #cs_booking .gform_body input[type="number"], #cs_booking .gform_body input[type="password"] textarea {
    width: 50% !important; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_booking .gform_body input[type="text"], #cs_booking .gform_body input[type="tel"], #cs_booking .gform_body input[type="email"], #cs_booking .gform_body input[type="number"], #cs_booking .gform_body input[type="password"] textarea {
    width: 100%; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_booking .gform_body {
    width: 100%;
    height: auto;
    padding-top: 0; } }

  #cs_booking .gform_body ul li {
    padding: 0;
    background: none;
    margin: 0;
    line-height: 22px; }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_booking .gform_body ul li {
    width: 100%; } }

  #cs_booking .gfield.cs_field_left_select input {
    font-family: "Museo100";
    font-size: 17px;
    width: 322px;
    height: 45px;
    margin-top: 16px;
    margin-bottom: 15px;
    border: 1px solid #EBEBEB;
    border-radius: 3px; }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_booking .gfield.cs_field_left_select input {
    width: 100%; } }

  #cs_booking .gfield.cs_field_left_select:last-child {
    margin-bottom: 0; }
  #cs_booking .gfield.cs_textarea textarea {
    font-family: "Museo100";
    font-size: 17px;
    width: 308px;
    height: 245px;
    margin-right: 30px;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    resize: none; }
@media (min-width: 768px) and (max-width: 1024px) {
  #cs_booking .gfield.cs_textarea textarea {
    width: 100%; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_booking .gfield.cs_textarea textarea {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px; } }

  #cs_booking .gform_fields.top_label.form_sublabel_below.description_below {
    margin: 0;
    padding-left: 33px; }
  #cs_booking .gfield.cs_field_left_select {
    list-style: none; }
  #cs_booking .gfield.cs_textarea {
    float: right;
    list-style: none;
    margin-top: -295px; }
@media (min-width: 768px) and (max-width: 1024px) {
  #cs_booking .gfield.cs_textarea {
    width: 50%;
    padding: 0 20px; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_booking .gfield.cs_textarea {
    float: none;
    margin-top: 0; } }

  #cs_booking .gfield.cs_textarea label {
    display: block;
    margin-bottom: 15px; }
  #cs_booking .gform_body label {
    font-family: "Museo100";
    font-size: 18px;
    color: #555555; }
  #cs_booking .gform_footer.top_label {
    float: left;
    width: 738px;
    text-align: center; }
@media (min-width: 768px) and (max-width: 1024px) {
  #cs_booking .gform_footer.top_label {
    width: 100%; } }

@media (min-width: 320px) and (max-width: 767px) {
  #cs_booking .gform_footer.top_label {
    width: 100%;
    float: none; } }

  #cs_booking .gform_button {
    margin-top: 11px; }
  #cs_booking input[type="submit"] {
    display: inline-block; }
@media (min-width: 320px) and (max-width: 767px) {
  #cs_booking input[type="submit"] {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
