/* ====================== */
/*         ASSETS         */
/* ====================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box; }

  ol, ul {
    list-style: none; }

    :focus {
      outline: 0; }

      .clear {
        clear: both;
        line-height: 0;
        font-size: 0; }

        .clearfix:after {
          clear: both;
          content: '.';
          display: block;
          visibility: hidden;
          height: 0; }

          .clearfix {
            display: inline-block; }

            * html .clearfix {
              height: 1%; }

              .clearfix {
                display: block; }

                header,
                nav,
                section,
                article,
                aside,
                footer {
                  display: block; }

                  /* FONTS */
                  @font-face {
                    font-family: 'Museo100';
                    src: url("../fonts/MuseoSans-100.eot");
                    /* IE9 Compat Modes */
                    src: url("../fonts/MuseoSans-100.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans-100.woff2") format("woff2"), url("../fonts/MuseoSans-100.woff") format("woff"), url("../fonts/MuseoSans-100.ttf") format("truetype"), url("../fonts/MuseoSans-100.svg#svgFontName") format("svg");
                  /* Legacy iOS */ }
                  @font-face {
                    font-family: 'Museo300';
                    src: url("../fonts/MuseoSans-300.eot");
                    /* IE9 Compat Modes */
                    src: url("../fonts/MuseoSans-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans-300.woff2") format("woff2"), url("../fonts/MuseoSans-300.woff") format("woff"), url("../fonts/MuseoSans-300.ttf") format("truetype"), url("../fonts/MuseoSans-300.svg#svgFontName") format("svg");
                  /* Legacy iOS */ }
                  @font-face {
                    font-family: 'Museo500';
                    src: url("../fonts/MuseoSans-500.eot");
                    /* IE9 Compat Modes */
                    src: url("../fonts/MuseoSans-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans-500.woff2") format("woff2"), url("../fonts/MuseoSans-500.woff") format("woff"), url("../fonts/MuseoSans-500.ttf") format("truetype"), url("../fonts/MuseoSans-500.svg#svgFontName") format("svg");
                  /* Legacy iOS */ }
                  /* Body */
                  body {
                    font-family: "Museo100";
                    color: #8b8b8b; }

                    h1 {
                      font-size: 44px;
                      color: #555555; }

                      h2 {
                        font-size: 34px;
                        color: #555555; }

                        h3 {
                          font-size: 24px;
                          color: #555555;
                          line-height: 26px; }

                          h4 {
                            font-size: 20px;
                            color: #555555; }

                            h5 {
                              font-size: 18px;
                              color: #555555; }

                              h6 {
                                font-size: 17px;
                                color: #555555; }

                                p {
                                  font-size: 20px;
                                  font-weight: 100;
                                  line-height: 32px; }

                                  a {
                                    color: #8b8b8b; }

                                    .cs_btn {
                                      display: block;
                                      width: 168px;
                                      height: 50px;
                                      text-align: center;
                                      text-decoration: none;
                                      border: 1px solid #EBEBEB;
                                      border-radius: 3px;
                                      line-height: 50px;
                                      font-family: "Museo500";
                                      font-size: 16px;
                                      color: #555555; }
                                      .cs_btn:hover {
                                        background: #F6F6F6; }

                                        button {
                                          font-family: "Museo500";
                                          font-size: 18px;
                                          color: #555555;
                                          width: 322px;
                                          height: 45px;
                                          border: 1px solid #EBEBEB;
                                          border-radius: 3px; }

                                          input[type="submit"] {
                                            font-family: "Museo500";
                                            font-size: 18px;
                                            color: #555555;
                                            width: 322px;
                                            line-height: 45px;
                                            border: 1px solid #EBEBEB;
                                            border-radius: 3px; }

                                            input[type="submit"]:hover {
                                              background: #F6F6F6; }

                                              input[type="text"], input[type="tel"], input[type="email"], input[type="number"], input[type="password"] {
                                                font-size: 17px;
                                                width: 322px;
                                                height: 45px;
                                                padding: 0 10px;
                                                border: 1px solid #EBEBEB;
                                                border-radius: 3px;
                                                background: #FCFCFC; }

                                                input[type="text"]:hover, input[type="tel"]:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover {
                                                  border: 1px solid #EB2929; }

                                                  blockquote {
                                                    font-size: 20px; }

                                                    select {
                                                      font-size: 17px;
                                                      width: 322px;
                                                      height: 45px;
                                                      border: 1px solid #EBEBEB;
                                                      border-radius: 3px; }

                                                      select:hover {
                                                        border: 1px solid #EB2929; }

                                                        textarea {
                                                          font-size: 17px;
                                                          width: 308px;
                                                          height: 245px;
                                                          padding: 0 10px;
                                                          border: 1px solid #EBEBEB;
                                                          border-radius: 3px;
                                                          resize: none;
                                                          background: #FCFCFC; }

                                                          /* ====================== */
                                                          /*         LAYOUT         */
                                                          /* ====================== */
                                                          /* HEADER */
                                                          #cs_header {
                                                            background: url(../images/banner.jpg) no-repeat center center;
                                                            background-size: 120% auto;
                                                            height: 890px;
                                                            margin-bottom: 125px; }
                                                            #cs_header.cs_header_inner {
                                                              height: 372px;
                                                              background-size: 100% auto; }
                                                              #cs_header.cs_header_inner .cs_header_bar {
                                                                background: #ffffff;
                                                                border-bottom: #EBEBEB 1px solid; }
                                                                #cs_header .cs_header_bar {
                                                                  line-height: 82px;
                                                                  padding: 0 44px;
                                                                  height: 82px; }
                                                                  #cs_header #cs_logo {
                                                                    font-size: 23px;
                                                                    font-family: "Museo300";
                                                                    float: left;
                                                                    font-weight: normal; }
                                                                    #cs_header #cs_logo a {
                                                                      text-decoration: none; }
                                                                      #cs_header #cs_logo a:hover {
                                                                        color: #555555; }
                                                                        #cs_header #cs_nav {
                                                                          float: right;
                                                                          font-size: 16px;
                                                                          font-family: "Museo300"; }
                                                                          #cs_header #cs_nav ul li {
                                                                            margin-left: 32px;
                                                                            float: left;
                                                                            position: relative; }
                                                                            #cs_header #cs_nav ul li a {
                                                                              text-decoration: none;
                                                                              text-transform: uppercase;
                                                                              color: #555555;
                                                                              line-height: 82px;
                                                                              display: block; }
                                                                              #cs_header #cs_nav ul li a:hover {
                                                                                color: #c6c6c6; }
                                                                                #cs_header #cs_nav ul li ul {
                                                                                  position: absolute;
                                                                                  width: 170px;
                                                                                  display: none; }
                                                                                  #cs_header #cs_nav ul li ul li {
                                                                                    margin: 0;
                                                                                    float: none; }
                                                                                    #cs_header #cs_nav ul li ul li a {
                                                                                      background: #8b8b8b;
                                                                                      line-height: 25px;
                                                                                      border-bottom: #ffffff 1px solid;
                                                                                      padding: 5px;
                                                                                      font-size: 14px;
                                                                                      text-transform: capitalize;
                                                                                      color: #ffffff; }
                                                                                      #cs_header #cs_nav ul li ul li a:hover {
                                                                                        background: #555555;
                                                                                        color: #ffffff; }
                                                                                        #cs_header #cs_nav ul li ul li:hover > a {
                                                                                          background: #555555;
                                                                                          color: #ffffff; }
                                                                                          #cs_header #cs_nav ul li ul li:hover > a {
                                                                                            background: #555555;
                                                                                            color: #ffffff; }
                                                                                            #cs_header #cs_nav ul li ul ul {
                                                                                              left: 100%;
                                                                                              border-left: #ffffff 1px solid;
                                                                                              top: 0; }
                                                                                              #cs_header #cs_nav ul li:hover > ul {
                                                                                                display: block; }
                                                                                                #cs_header #cs_nav ul li:hover > a {
                                                                                                  color: #c6c6c6; }
                                                                                                  #cs_header .cs_container {
                                                                                                    padding: 131px 500px 0 0; }
                                                                                                    #cs_header .cs_container h1 {
                                                                                                      margin-bottom: 36px;
                                                                                                      font-weight: 100;
                                                                                                      font-size: 44px;
                                                                                                      color: #555555;
                                                                                                      line-height: 38px; }
                                                                                                      #cs_header .cs_container p {
                                                                                                        color: #555555;
                                                                                                        font-size: 19px;
                                                                                                        margin-bottom: 38px;
                                                                                                        line-height: 28px; }

                                                                                                        .cs_header_inner .cs_container {
                                                                                                          padding-top: 98px !important; }

                                                                                                          /* ======= FOOTER ======= */
                                                                                                          #cs_footer {
                                                                                                            width: 100%;
                                                                                                            height: 320px;
                                                                                                            background: #FCFCFC;
                                                                                                            border-top: 1px solid #EBEBEB;
                                                                                                            padding-top: 59px;
                                                                                                            clear: both; }
                                                                                                            #cs_footer h4 {
                                                                                                              text-transform: uppercase; }
                                                                                                              #cs_footer .cs_footer_menu {
                                                                                                                width: 101px;
                                                                                                                height: 193px;
                                                                                                                float: left;
                                                                                                                margin-right: 181px; }
                                                                                                                #cs_footer .cs_footer_menu h4 {
                                                                                                                  font-size: 20px;
                                                                                                                  color: #555555;
                                                                                                                  margin-bottom: 15px;
                                                                                                                  font-weight: 100; }
                                                                                                                  #cs_footer .cs_footer_menu ul li {
                                                                                                                    list-style: none; }
                                                                                                                    #cs_footer .cs_footer_menu ul li a {
                                                                                                                      font-size: 14px;
                                                                                                                      color: #8b8b8b;
                                                                                                                      text-decoration: none;
                                                                                                                      line-height: 27px; }
                                                                                                                      #cs_footer .cs_footer_menu ul li a:hover {
                                                                                                                        color: #000000; }
                                                                                                                        #cs_footer .cs_quick_links {
                                                                                                                          width: 200px;
                                                                                                                          height: 165px;
                                                                                                                          float: left;
                                                                                                                          margin-right: 82px; }
                                                                                                                          #cs_footer .cs_quick_links h4 {
                                                                                                                            font-size: 20px;
                                                                                                                            color: #555555;
                                                                                                                            margin-bottom: 20px;
                                                                                                                            font-weight: 100; }
                                                                                                                            #cs_footer .cs_quick_links ul li {
                                                                                                                              list-style: none; }
                                                                                                                              #cs_footer .cs_quick_links ul li a {
                                                                                                                                font-size: 14px;
                                                                                                                                color: #8b8b8b;
                                                                                                                                text-decoration: none;
                                                                                                                                margin-bottom: 10px;
                                                                                                                                display: inline-block; }
                                                                                                                                #cs_footer .cs_quick_links ul li a:hover {
                                                                                                                                  color: #000000; }
                                                                                                                                  #cs_footer .cs_content {
                                                                                                                                    width: 271px;
                                                                                                                                    height: 138px;
                                                                                                                                    float: left;
                                                                                                                                    margin-right: 70px; }
                                                                                                                                    #cs_footer .cs_content h4 {
                                                                                                                                      font-size: 20px;
                                                                                                                                      color: #555555;
                                                                                                                                      margin-bottom: 13px;
                                                                                                                                      font-weight: 100; }
                                                                                                                                      #cs_footer .cs_content p {
                                                                                                                                        font-size: 14px;
                                                                                                                                        color: #8b8b8b;
                                                                                                                                        margin: 27px 0;
                                                                                                                                        line-height: 36px; }
                                                                                                                                        #cs_footer .cs_content p a {
                                                                                                                                          text-decoration: none; }
                                                                                                                                          #cs_footer .cs_content p a:hover {
                                                                                                                                            color: #000000; }
                                                                                                                                            #cs_footer .cs_content a {
                                                                                                                                              text-decoration: none;
                                                                                                                                              line-height: 27px; }
                                                                                                                                              #cs_footer .cs_content a:hover {
                                                                                                                                                color: #000000; }
                                                                                                                                                #cs_footer .cs_copy_right {
                                                                                                                                                  width: 242px;
                                                                                                                                                  height: 142px;
                                                                                                                                                  float: right; }
                                                                                                                                                  #cs_footer .cs_copy_right h4 {
                                                                                                                                                    font-size: 20px;
                                                                                                                                                    color: #555555;
                                                                                                                                                    margin-bottom: 12px;
                                                                                                                                                    font-weight: 100; }
                                                                                                                                                    #cs_footer .cs_copy_right p {
                                                                                                                                                      font-size: 14px;
                                                                                                                                                      color: #8b8b8b;
                                                                                                                                                      margin-bottom: 27px;
                                                                                                                                                      line-height: 27px; }
                                                                                                                                                      #cs_footer .cs_copy_right p a {
                                                                                                                                                        color: #8b8b8b; }
                                                                                                                                                        #cs_footer .cs_copy_right p a:hover {
                                                                                                                                                          color: #000000; }

                                                                                                                                                          /* ======== BASE ======== */
                                                                                                                                                          .cs_container {
                                                                                                                                                            width: 1148px;
                                                                                                                                                            margin: 0 auto; }

                                                                                                                                                            .cs_therapist {
                                                                                                                                                              width: 167px;
                                                                                                                                                              height: 280px; }

                                                                                                                                                              #cs_services {
                                                                                                                                                                width: 1146px;
                                                                                                                                                                height: auto;
                                                                                                                                                                margin: 0 auto 114px; }
                                                                                                                                                                #cs_services .cs_services_top_text {
                                                                                                                                                                  margin-bottom: 65px; }
                                                                                                                                                                  #cs_services .cs_services_top_text h2 {
                                                                                                                                                                    margin-bottom: 30px; }
                                                                                                                                                                    #cs_services .cs_services_image {
                                                                                                                                                                      margin-bottom: 78px; }
                                                                                                                                                                      #cs_services .cs_feature_services .cs_services_wrap {
                                                                                                                                                                        margin-bottom: 30px;
                                                                                                                                                                        padding-bottom: 30px;
                                                                                                                                                                        display: block;
                                                                                                                                                                        border-bottom: 1px solid #EBEBEB;
                                                                                                                                                                        clear: both;
                                                                                                                                                                        overflow: hidden; }
                                                                                                                                                                        #cs_services .cs_feature_services .cs_services_wrap div img {
                                                                                                                                                                          float: left; }
                                                                                                                                                                          #cs_services .cs_feature_services .cs_services_wrap:last-child {
                                                                                                                                                                            margin-bottom: 60px;
                                                                                                                                                                            padding-bottom: 60px; }
                                                                                                                                                                            #cs_services .cs_feature_services .cs_services_text {
                                                                                                                                                                              width: 517px;
                                                                                                                                                                              float: right; }
                                                                                                                                                                              #cs_services .cs_feature_services div:nth-child(2) img {
                                                                                                                                                                                float: right; }
                                                                                                                                                                                #cs_services .cs_feature_services div:nth-child(2) div {
                                                                                                                                                                                  float: left; }
                                                                                                                                                                                  #cs_services .cs_feature_services h3 {
                                                                                                                                                                                    margin-bottom: 35px;
                                                                                                                                                                                    color: #555555;
                                                                                                                                                                                    text-decoration: none; }
                                                                                                                                                                                    #cs_services .cs_feature_services p {
                                                                                                                                                                                      margin-bottom: 30px; }
                                                                                                                                                                                      #cs_services .cs_feature_services a {
                                                                                                                                                                                        color: #555555; }
                                                                                                                                                                                        #cs_services .cs_services_text_wrap {
                                                                                                                                                                                          overflow: hidden;
                                                                                                                                                                                          margin-bottom: 24px; }
                                                                                                                                                                                          #cs_services .cs_services_text_wrap .cs_all_services_text {
                                                                                                                                                                                            width: 530px;
                                                                                                                                                                                            height: 155px;
                                                                                                                                                                                            margin-bottom: 55px;
                                                                                                                                                                                            float: left; }
                                                                                                                                                                                            #cs_services .cs_services_text_wrap #cs_all_services_right {
                                                                                                                                                                                              float: right; }
                                                                                                                                                                                              #cs_services .cs_services_text_wrap #cs_all_services_right a {
                                                                                                                                                                                                text-decoration: none; }

                                                                                                                                                                                                #cs_therapists {
                                                                                                                                                                                                  background: #FCFCFC;
                                                                                                                                                                                                  padding: 106px 0;
                                                                                                                                                                                                  border-top: #EBEBEB 1px solid;
                                                                                                                                                                                                  border-bottom: #EBEBEB 1px solid;
                                                                                                                                                                                                  overflow: hidden; }
                                                                                                                                                                                                  #cs_therapists h2 {
                                                                                                                                                                                                    margin-bottom: 32px; }
                                                                                                                                                                                                    #cs_therapists p {
                                                                                                                                                                                                      margin-bottom: 45px;
                                                                                                                                                                                                      font-size: 19px; }
                                                                                                                                                                                                      #cs_therapists .cs_therapist {
                                                                                                                                                                                                        width: 167px;
                                                                                                                                                                                                        height: 280px;
                                                                                                                                                                                                        float: left;
                                                                                                                                                                                                        margin: 0 29px 21px 0; }
                                                                                                                                                                                                        #cs_therapists .cs_therapist a {
                                                                                                                                                                                                          text-decoration: none; }
                                                                                                                                                                                                          #cs_therapists .cs_therapist img {
                                                                                                                                                                                                            margin-bottom: 21px; }
                                                                                                                                                                                                            #cs_therapists .cs_therapist h6 {
                                                                                                                                                                                                              margin-bottom: 12px;
                                                                                                                                                                                                              color: #555555; }
                                                                                                                                                                                                              #cs_therapists .cs_therapist p {
                                                                                                                                                                                                                font-size: 13px;
                                                                                                                                                                                                                margin-bottom: 45px;
                                                                                                                                                                                                                color: #8b8b8b;
                                                                                                                                                                                                                line-height: 15px; }
                                                                                                                                                                                                                #cs_therapists .cs_therapist:hover img {
                                                                                                                                                                                                                  opacity: 0.7; }

                                                                                                                                                                                                                  #cs_booking {
                                                                                                                                                                                                                    width: 100%;
                                                                                                                                                                                                                    height: auto;
                                                                                                                                                                                                                    float: left;
                                                                                                                                                                                                                    clear: both;
                                                                                                                                                                                                                    overflow: hidden;
                                                                                                                                                                                                                  }
                                                                                                                                                                                                                    #cs_booking .gform-txt-container {

                                                                                                                                                                                                                   
                                                                                                                                                                                                                      width: 290px;
                                                                                                                                                                                                                      height: auto;
                                                                                                                                                                                                                      margin-top: 108px;
                                                                                                                                                                                                                      float: left; }
                                                                                                                                                                                                                      #cs_booking .gf-heading {
                                                                                                                                                                                                                        margin-bottom: 20px; }
                                                                                                                                                                                                                        #cs_booking .gf-text {
                                                                                                                                                                                                                          margin-bottom: 20px; }
                                                                                                                                                                                                                          #cs_booking .cs-booking-anchor {
                                                                                                                                                                                                                            font-family: "Museo100";
                                                                                                                                                                                                                            font-size: 17px;
                                                                                                                                                                                                                            color: #8b8b8b;
                                                                                                                                                                                                                            margin-top: 5px; }
                                                                                                                                                                                                                            #cs_booking .cs-booking-anchor:hover {
                                                                                                                                                                                                                              color: #555555; }
                                                                                                                                                                                                                              #cs_booking .gform-container {
                                                                                                                                                                                                                                width: 738px;
                                                                                                                                                                                                                                margin-top: 108px;
                                                                                                                                                                                                                                margin-bottom: 108px;
                                                                                                                                                                                                                                border: 1px solid #EBEBEB;
                                                                                                                                                                                                                                border-radius: 3px;
                                                                                                                                                                                                                                box-shadow: 0px 0px 15px #EBEBEB;
                                                                                                                                                                                                                                float: right; }
                                                                                                                                                                                                                                #cs_booking .gform_body {
                                                                                                                                                                                                                                  width: 738px;
                                                                                                                                                                                                                                  height: 287px;
                                                                                                                                                                                                                                  padding: 0;
                                                                                                                                                                                                                                  padding-top: 45px; }
                                                                                                                                                                                                                                  #cs_booking .gfield.cs_field_left_select input {
                                                                                                                                                                                                                                    font-family: "Museo100";
                                                                                                                                                                                                                                    font-size: 17px;
                                                                                                                                                                                                                                    width: 322px;
                                                                                                                                                                                                                                    height: 45px;
                                                                                                                                                                                                                                    margin-top: 16px;
                                                                                                                                                                                                                                    margin-bottom: 15px;
                                                                                                                                                                                                                                    border: 1px solid #EBEBEB;
                                                                                                                                                                                                                                    border-radius: 3px; 
                                                                                                                                                                                                                                      padding: 0;
                                                                                                                                                                                                                                        background: none;
                                                                                                                                                                                                                                  }
                                                                                                                                                                                                                                    #cs_booking .gfield.cs_field_left_select:last-child {
                                                                                                                                                                                                                                      margin-bottom: 0; }
                                                                                                                                                                                                                                      #cs_booking .gfield.cs_textarea textarea {
                                                                                                                                                                                                                                        font-family: "Museo100";
                                                                                                                                                                                                                                        font-size: 17px;
                                                                                                                                                                                                                                        width: 308px;
                                                                                                                                                                                                                                        height: 245px;
                                                                                                                                                                                                                                        margin-right: 30px;
                                                                                                                                                                                                                                        margin-top: 16px;
                                                                                                                                                                                                                                        border: 1px solid #EBEBEB;
                                                                                                                                                                                                                                        border-radius: 3px;
                                                                                                                                                                                                                                        resize: none; 
                                                                                                                                                                                                                                          padding: 0;
                                                                                                                                                                                                                                        background: none;

                                                                                                                                                                                                                                      }
                                                                                                                                                                                                                                        #cs_booking .gform_fields.top_label.form_sublabel_below.description_below {
                                                                                                                                                                                                                                          margin: 0;
                                                                                                                                                                                                                                          padding-left: 33px; }
                                                                                                                                                                                                                                          #cs_booking .gfield.cs_field_left_select {
                                                                                                                                                                                                                                            float: left;
                                                                                                                                                                                                                                            list-style: none; }
                                                                                                                                                                                                                                            #cs_booking .gfield.cs_textarea {
                                                                                                                                                                                                                                              float: right;
                                                                                                                                                                                                                                              list-style: none; }
                                                                                                                                                                                                                                              #cs_booking .gform_body label {
                                                                                                                                                                                                                                                font-family: "Museo100";
                                                                                                                                                                                                                                                font-size: 18px;
                                                                                                                                                                                                                                                color: #555555; }
                                                                                                                                                                                                                                                #cs_booking .gform_footer.top_label {
                                                                                                                                                                                                                                                  float: left;
                                                                                                                                                                                                                                                  width: 738px;
                                                                                                                                                                                                                                                  text-align: center; }
                                                                                                                                                                                                                                                  #cs_booking .gform_button {
                                                                                                                                                                                                                                                    margin-top: 11px; }
                                                                                                                                                                                                                                                    #cs_booking input[type="submit"] {
                                                                                                                                                                                                                                                      margin: 12px 0 0 207px; }

                                                                                                                                                                                                                                                      /*# sourceMappingURL=style.css.map */
