/* FONTS */
@font-face {
    font-family: 'Museo100';
    src: url('../fonts/MuseoSans-100.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSans-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MuseoSans-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/MuseoSans-100.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/MuseoSans-100.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/MuseoSans-100.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Museo300';
    src: url('../fonts/MuseoSans-300.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSans-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MuseoSans-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/MuseoSans-300.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/MuseoSans-300.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/MuseoSans-300.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Museo500';
    src: url('../fonts/MuseoSans-500.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSans-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MuseoSans-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/MuseoSans-500.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/MuseoSans-500.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/MuseoSans-500.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* Body */
body {
    font-family: $museo100;
    color: $gray;
}

h1 {
    font-size:44px;
    color:$emperor;
}

h2{
    font-size:34px;
    color:$emperor;
    margin-bottom: 28px;
    font-weight: 300;
}

h3{
    font-size:24px;
    color:$emperor;
    line-height:26px;
    margin-bottom: 40px;
    font-weight: 400;
}

h4{
    font-size:20px;
    color:$emperor;
}

h5{
    font-size:18px;
    color:$emperor;
}

h6{
    font-size:17px;
    color:$emperor;
}

p{
    font-size:20px;
    font-weight:100;
    line-height:32px;
    margin-bottom: 30px;
}
a{
 color: $gray;
}

.cs_btn{
    display: block;
    width: 168px;
    height: 50px;
    text-align: center;
    text-decoration:none;
    border:1px solid #EBEBEB;
    border-radius:3px;
    line-height:50px;
    font-family: $museo500;
    font-size:16px;
    color:$emperor;
    &:hover{
        background:$wild-sand;
        text-decoration: none !important;
    }
}



button{
    font-family: $museo500;
    font-size:18px;
    color:$emperor;
    width: 322px;
    height: 45px;
    border:1px solid $gallery;
    border-radius:3px;
    display: inline-block;
}


input[type="submit"]{
    font-family: $museo500;
    font-size:18px;
    color:$emperor;
    width: 322px;
    line-height: 45px;
    border:1px solid $gallery;
    border-radius:3px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background:$wild-sand;
}

input[type="text"],input[type="tel"],input[type="email"],input[type="number"],input[type="password"]{
    font-size:17px;
    width: 322px;
    height: 45px;
    padding: 0 10px;
    border:1px solid $gallery;
    border-radius:3px;
    background:$alabaster;

}

input[type="text"]:hover,input[type="tel"]:hover,input[type="email"]:hover,input[type="number"]:hover,input[type="password"]:hover{
    border:1px solid $alizarin-crimson;
}

blockquote{
    font-size:20px;
}

select{
    font-size:17px;
    width: 322px;
    height: 45px;
    border:1px solid $gallery;
    border-radius:3px;
}

select:hover{
    border:1px solid $alizarin-crimson;
}

textarea{
    font-size:17px;
    width: 308px;
    height: 245px;
    padding: 15px 15px;
    border:1px solid $gallery;
    border-radius:3px;
    resize:none;
    background:$alabaster;
}
ul{
   font-size: 20px;
   margin-bottom: 58px;

li {
        margin-bottom: 10px;
        line-height: 32px;
        color: $gray;
        list-style: none;
        background: url(../images/bullet.png) no-repeat left;
        padding: 32px 0 0 33px;
        @include media('>=phone', '<tablet') {
            background: url(../images/bullet.png) no-repeat left top 44px;
        }
        @include media('>=tablet', '<=desktop') {
            background: url(../images/bullet.png) no-repeat left top 44px;
        }

    }
}

ol{
    list-style: inherit;
    font-size: 20px;
    margin-bottom: 58px;
    margin-left: 20px;


     li {
        margin-bottom: 10px;
        line-height: 32px;
        color: $gray;
        list-style: inherit;
         padding-left: 17px; 
    }

}
ol{
    list-style-type: decimal;
}
hr{
    border: 1px solid $gallery;
    margin-bottom: 53px;
}
