// Brand Colors
$alabaster: #FCFCFC;
$white: #ffffff;
$emperor: #555555;
$gray: #8b8b8b;
$gallery: #EBEBEB;
$alizarin-crimson: #EB2929;
$wild-sand: #F6F6F6;
$black:#000000;
$silver: #c6c6c6;
$alto: #d2d2d2;

// Fonts
$museo100: 'Museo100';
$museo300: 'Museo300';
$museo500: 'Museo500';


// Base vars
$container_w: 1148px;