/* ======== BASE ======== */
.cs_container {
    width: $container_w;
    margin: 0 auto;

    @include media('>1023px', '<=1024px') {
        width: 100%;
        padding: 0 24px !important;
    }

    @include media('>=tablet', '<desktop') {
        width: 100%;
        padding: 0 24px !important;
    }
    @include media('>=phone', '<tablet') {
        width: 100%;
        padding: 0 24px !important;
    }
}

.cs_therapist {
    width: 167px;
    height: 280px;
}