#cs_booking{
    width:100%;
    height:auto;
    float:left;
    clear:both;
    overflow: hidden;

    .gform-txt-container{
        width:290px;
        height:auto;
        float:left;
        @include media('>=tablet', '<=desktop') {
            width: 100%;
            margin-top: 70px;
        }
        @include media('>=phone', '<tablet') {
            width: 100%;
            float: none;
            margin-top: 70px;
        }
    }
    
    .gform_fields.top_label.form_sublabel_below.description_below {
        @include media('>=phone', '<tablet') {
            padding: 0 !important;
        }
    }

    .gf-heading{
        margin-bottom:20px;
        font-weight: 400;
    }

    .gf-text{
        margin-bottom:20px;
        line-height: 26px;
    }

    .cs-booking-anchor{
        font-family: $museo100;
        font-size:17px;
        color:$gray;
        margin-top:5px;
        &:hover{
            color:$emperor;
        }
    }

    .gform-container{
        width:738px;
        height: 430px;
        margin-bottom:108px;
        border:1px solid $gallery;
        border-radius:3px;
        box-shadow: 0px 0px 15px $gallery;
        float:right;
        @include media('>=tablet', '<=desktop') {
            width: 100%;
            margin-top: 46px;
            margin-bottom: 60px;
        }
        @include media('>=phone', '<tablet') {
            width: 100%;
            height: auto;
            padding: 45px 24px;
            margin-top: 46px;
            margin-bottom: 60px;
        }

    }

    .gform_body{ 
        width:738px;
        height: 287px;
        padding:0;
        padding-top: 45px;
        @include media('>=tablet', '<=desktop') {
            width: 100%;
        }
        input[type="text"],input[type="tel"],input[type="email"],input[type="number"],input[type="password"]  textarea{
            @include media('>=tablet', '<=desktop') {
                width: 50% !important;
            }
            @include media('>=phone', '<tablet') {
                width: 100%;
            }
        }
        @include media('>=phone', '<tablet') {
            width: 100%;
            height: auto;
            padding-top: 0;
        }
    }
    .gform_body ul li {
        padding: 0;
        background: none;
        margin: 0;
        line-height: 22px;
        @include media('>=phone', '<tablet') {
            width: 100%;
        }
    }



    .gfield.cs_field_left_select input{
        font-family: $museo100;
        font-size:17px;
        width: 322px;
        height: 45px;
        margin-top: 16px;
        margin-bottom: 15px;
        border:1px solid $gallery;
        border-radius:3px;
        @include media('>=phone', '<tablet') {
            width: 100%;
        }


    }

    .gfield.cs_field_left_select:last-child{
        margin-bottom: 0;

    }

    .gfield.cs_textarea textarea{
        font-family: $museo100;
        font-size:17px;
        width: 308px;
        height: 245px;
        margin-right: 30px;
        border:1px solid $gallery;
        border-radius:3px;
        resize:none;
        @include media('>=tablet', '<=desktop') {
            width: 100%;
        }
        @include media('>=phone', '<tablet') {
            width: 100%;
            margin-right: 0;
            margin-bottom: 16px;
        }

    }

    .gform_fields.top_label.form_sublabel_below.description_below{
        margin:0;
        padding-left:33px;

    }


    .gfield.cs_field_left_select{
        list-style: none;

    }

    .gfield.cs_textarea{
        float: right;
        list-style: none;
        margin-top: -295px;
        @include media('>=tablet', '<=desktop') {
            width: 50%;
            padding: 0 20px;
        }
        @include media('>=phone', '<tablet') {
            float: none;
            margin-top: 0;
        }
    }
    .gfield.cs_textarea label {
        display: block;
        margin-bottom: 15px;
    }

    .gform_body label{
        font-family: $museo100;
        font-size:18px;
        color:$emperor;
    }

    .gform_footer.top_label{
        float:left;
        width:738px;
        text-align:center;
        @include media('>=tablet', '<=desktop') {
            width: 100%;
        }
        @include media('>=phone', '<tablet') {
            width: 100%;
            float: none;
        }
    }

    .gform_button {
        margin-top:11px;
    }

    input[type="submit"]{
        display: inline-block;
        @include media('>=phone', '<tablet') {
            width: 100%;
        }
    }
}

