/* ======= FOOTER ======= */
#cs_footer {
    width: 100%;
    background: $alabaster;
    border-top: 1px solid $gallery;
    padding-top: 59px;
    clear: both;
    overflow: hidden;
    padding-bottom: 70px;




    /* phone responsive */
    @include media('>=phone', '<tablet') {
        padding: 59px 0;
    }
    h4 {
        text-transform: uppercase;
    }
    .cs_footer_menu {
        width: 101px;
        float: left;
        margin-right: 179px;

        @include media('>1023px', '<=1024px') {
            margin-right: 50px;
        }

        /* tablet responsive */
        @include media('>=tablet', '<desktop') {
            width: 50%;
            height: auto;
            margin-bottom: 38px;
            margin-right: 0;
        }
        /* phone responsive */
        @include media('>=phone', '<tablet') {
            width: 100%;
            height: auto;
            margin-bottom: 38px;
            margin-right: 0;
        }
        h4 {
            font-size: 20px;
            color: $emperor;
            margin-bottom: 15px;
            font-weight: 100;
            letter-spacing: 1px;
        }
        ul {
            /* tablet responsive */
            @include media('>=tablet', '<desktop') {
                margin-bottom: 0;
            }
            /* phone responsive */
            @include media('>=phone', '<tablet') {
                margin-bottom: 0;
            }
            li {
                list-style: none;
                background: none;
                padding: 0;
                margin-bottom: 0;
                a {

                    font-size: 14px;
                    color: $gray;
                    text-decoration: none;
                    line-height: 27px;
                    &:hover {
                        color: $black;
                    }
                }
            }
        }
    }
    .cs_quick_links {
        width: 200px;
        float: left;
        margin-right: 83px;

        @include media('>1023px', '<=1024px') {
            margin-right: 50px;
        }

        /* tablet responsive */
        @include media('>=tablet', '<desktop') {
            width: 50%;
            height: auto;
            margin-bottom: 47px;
            margin-right: 0;
        }
        /* phone responsive */
        @include media('>=phone', '<tablet') {
            width: 100%;
            height: auto;
            margin-bottom: 47px;
            margin-right: 0;
        }
        h4 {
            font-size: 20px;
            color: $emperor;
            margin-bottom: 20px;
            font-weight: 100;
            letter-spacing: 1px;
        }
        ul {
            /* phone responsive */
            @include media('>=phone', '<tablet') {
                margin-bottom: 0;
            }
            li {
                list-style: none;
                background: none;
                padding: 0;
                margin-bottom: 14px;
                line-height:27px;
                a {
                    font-size: 14px;
                    color: $gray;
                    text-decoration: none;
                    display: inline-block;
                    &:hover {
                        color: $black;
                    }
                }
            }
        }
    }
    .cs_content {
        width: 271px;
        float: left;
        margin-right: 77px;
        a {
            display: block;
            margin-bottom: 41px;
        }


        @include media('>1023px', '<=1024px') {
            margin-right: 50px;
        }

        /* tablet responsive */
        @include media('>=tablet', '<desktop') {
            width: 50%;
            height: auto;
            margin-bottom: 60px;
            margin-right: 0;
            clear: both;
            .cs_footer_approach {
                display: block !important;
            }

            .cs_footer_touch {
                display: none;
            }
        }
        /* phone responsive */
        @include media('>=phone', '<tablet') {
            width: 100%;
            height: auto;
            margin-bottom: 60px;
            margin-right: 0;
            .cs_footer_approach {
                display: block !important;
            }
            .cs_footer_touch {
                display: none;
            }
        }
        .cs_footer_approach {
            display: none;
        }
        h4 {
            font-size: 20px;
            color: $emperor;
            margin-bottom: 13px;
            font-weight: 100;
            letter-spacing: 1px;
        }
        
        p {
            font-size: 14px;
            color: $gray;
            line-height: 27px;

            /* phone responsive */
            @include media('>=phone', '<tablet') {
                margin-bottom: 0;
            }
            a {
                text-decoration: none;
                &:hover {
                    color: $black;
                }
            }

        }
        a {
            text-decoration: none;
            line-height: 27px;
            &:hover {
                color: $black;
            }
        }
    }
    .cs_copy_right {
        float: right;
        /* tablet responsive */
        @include media('>=tablet', '<desktop') {
            width: 50%;
            height: auto;
        }
        /* phone responsive */
        @include media('>=phone', '<tablet') {
            width: 100%;
            height: auto;
        }

        h4 {
            font-size: 20px;
            color: $emperor;
            margin-bottom: 12px;
            font-weight: 100;
            letter-spacing: 1px;
        }
        p {
            font-size: 14px;
            color: $gray;
            margin-bottom: 41px;
            line-height: 27px;
            a {
                color: $gray;
                &:hover {
                    color: $black;
                }
            }

        }
    }
}