/* HEADER */
#cs_header {
	background: url(../images/banner.jpg) no-repeat center center;
    background-size: cover;
    height: 890px;
    margin-bottom: 125px;
    /* tablet responsive */
    @include media('>1023px', '<=1024px') {
        background: url(../images/banner.jpg) no-repeat top;
        background-position: 0 -200px;
        height: auto;
        padding-bottom: 50px !important;
        margin-bottom: 50px;

    }
    /* tablet responsive */
    @include media('>=tablet', '<1023px') {
        width: 100%;
        background: none;
        height: auto;
        margin-bottom: 55px;
        padding-bottom: 25px;
    }
    /* phone responsive */
    @include media('>=phone', '<tablet') {
        width: 100%;
        background: none;
        height: auto;
        margin-bottom: 48px;
        padding-bottom: 25px;
    }

    &.cs_header_inner {
        height: 372px;
        background-position: 0px -213px;
        background-size: 100% auto;
        
        @include media('>=tablet', '<1023px') {
            height: auto;
        }
        @include media('>=phone', '<tablet') {
            height: auto;
        }
        .cs_header_bar {
            background: $white;
            border-bottom: $gallery 1px solid;
        }
    }

    .cs_header_bar {
        line-height: 82px;
        padding: 0 44px;
        height: 82px;

        /* tablet responsive */
        @include media('>=tablet', '<1023px') {
            padding: 0 25px;

            .menu_button i {
                display: inline-block;
                margin: 29px 0;
                font-size: 23px;
                float: right;
            }
        }
        /* phone responsive */
        @include media('>=phone', '<tablet') {
            padding: 0 25px;

            .menu_button i {
                display: inline-block;
                margin: 29px 0;
                font-size: 23px;
                float: right;
            }
        }
    }

    // Logo
    #cs_logo {
        font-size: 23px;
        font-family: $museo300;
        float: left;
        font-weight: normal;
        a {
            text-decoration: none;
            &:hover {
                color: $emperor;
            }
        }

    }

    .menu_button i {
        display: none;
    }
    // Nav
    #cs_nav {
        float: right;
        font-size: 16px;
        font-family: $museo300;

        /* tablet responsive */
        @include media('>=tablet', '<1023px') {
            display: none;
            float: left;
            text-align: center;
            width: 100%;
        }
        /* phone responsive */
        @include media('>=phone', '<tablet') {
            display: none;
            float: left;
            text-align: center;
            width: 100%;
        }
        ul {
            list-style: none;
            /* tablet responsive */
            @include media('>=tablet', '<1023px') {
                margin-bottom: 50px;
            }
            /* phone responsive */
            @include media('>=phone', '<tablet') {
                margin-bottom: 50px;
            }
            li {
                margin-left: 32px;
                float: left;
                position: relative;
                background: none;
                padding: 0;
                /* tablet responsive */
                @include media('>=tablet', '<1023px') {
                    float: none;
                    margin-bottom: 0;
                    margin-left: 0;

                }
                /* phone responsive */
                @include media('>=phone', '<tablet') {
                    float: none;
                    margin-bottom: 0;
                    margin-left: 0;

                }
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $emperor;
                    line-height: 82px;
                    display: block;
                    font-weight: 300;
                    /* tablet responsive */
                    @include media('>=tablet', '<1023px') {
                        line-height: 60px;
                    }
                    /* phone responsive */
                    @include media('>=phone', '<tablet') {
                        line-height: 60px;
                    }
                    &:hover {
                        color: $silver;
                    }
                }
                ul {
                    position: absolute;
                    width: 170px;
                    display: none;

                    /* tablet responsive */
                    @include media('>=tablet', '<1023px') {
                        display: block;
                        position: relative;
                        width: 100%;
                        margin-bottom: 30px;
                    }
                    /* phone responsive */
                    @include media('>=phone', '<tablet') {
                        display: block;
                        position: relative;
                        width: 100%;
                        margin-bottom: 30px;
                    }

                    li {
                        margin: 0;
                        float: none;
                        a {
                            background: $gray;
                            line-height: 25px;
                            border-bottom: $white 1px solid;
                            padding: 5px;
                            font-size: 14px;
                            text-transform: capitalize;
                            color: $white;
                            /* tablet responsive */
                            @include media('>=tablet', '<1023px') {
                                background: white;
                                color: $black;
                                display: inline-block;
                                border-bottom: 1px solid $emperor;
                                //width: 100%;
                            }
                            /* phone responsive */
                            @include media('>=phone', '<tablet') {
                                background: white;
                                color: $black;
                                display: inline-block;
                                border-bottom: 1px solid $emperor;
                                //width: 100%;
                            }
                            &:hover {
                                background: $emperor;
                                color: $white;
                            }

                        }
                        &:hover {
                            > a {
                                background: $emperor;
                                color: $white;
                            }
                        }
                        &:hover {
                            > a {
                                background: $emperor;
                                color: $white;
                            }
                        }
                    }

                    ul {
                        left: 100%;
                        border-left: $white 1px solid;
                        top: 0;
                    }
                }
                &:hover {
                    > ul {
                        display: block;
                    }
                    > a {
                        color: $silver;

                    }
                }
            }
        }
    }

    .cs_responsive_banner {
        padding: 78px 500px 0 78px !important;
    }

    /* phone responsive */
    @include media('>=phone', '<tablet') {
        .cs_responsive_border {
            border-bottom: 1px solid #EBEBEB;
            padding-bottom: 28px !important;

        }
    }

    @include media('>=phone', '<tablet') {
        .cs_responsive_banner {
            float: left;
            padding-top: 0 !important;
        }    
    }
    @include media('>=1023px', '<1024px') {
        .cs_responsive_banner {
            padding-top: 0px !important;
        }
    }
    
    @include media('>=tablet', '<1023px') {
        .cs_responsive_banner {
            float: left;
            padding-right: 24px !important;
            padding-top: 0 !important;
            padding-left: 24px !important;
        }    
    }


    

    .cs_container {
        padding: 131px 500px 0 0;
        h1 {
            margin-bottom: 36px;
            font-weight: 100;
            font-size: 44px;
            color: $emperor;
            line-height: 38px;
            text-transform: uppercase;

            /* tablet responsive */
            @include media('>1023px', '<=1024px') {
                padding-top: 85px;
            }

            /* tablet responsive */
            @include media('>=tablet', '<desktop') {
                padding-top: 85px;
            }

            /* phone responsive */
            @include media('>=phone', '<tablet') {
                padding-top: 85px;
                font-size: 36px;
                line-height: 45px;
            }
        }
        p {
            color: $emperor;
            font-size: 19px;
            margin-bottom: 38px;
            line-height: 28px;

            @include media('>1023px', '<=1024px') {
                width : 70%;
            }
        }
        /* tablet responsive */
        @include media('>=tablet', '<1023px') {
            .cs_banner {
                width: 100%;
                margin-bottom: 35px;
                display: block !important;
            }
        }

        /* tablet responsive */
        @include media('>=phone', '<tablet') {
            .cs_banner {
                width: 100%;
                margin-bottom: 35px;
                display: block !important;
            }
        }

        .cs_banner {
            display: none;
        }

    }

}



