#cs_services {
	width: 1146px;
	height: auto;
	margin: 0 auto 114px;
	@include media('>=tablet', '<=desktop') {
		width: 100%;
		padding: 0 24px;
		margin-bottom: 60px;
	}
	@include media('>=phone', '<tablet') {
		width: 100%;
		padding: 0 24px;
		margin-bottom: 60px;
	}

	.cs_services_top_text {
		margin-bottom: 65px;
		@include media('>=phone', '<tablet') {
			margin-bottom: 38px;
		}

		h2 {
			margin-bottom: 30px;
			font-weight: 300;
		}
	}
	.cs_services_image {
		margin-bottom: 78px;
		@include media('>=tablet', '<=desktop') {
			margin-bottom: 50px;
		}
	}


	.cs_feature_services {
		@include media('>=tablet', '<=desktop') {
			width: 100%;
		}
		
		.cs_services_wrap {
			margin-bottom: 30px;
			padding-bottom: 30px;
			display: block;
			border-bottom: 1px solid $gallery;
			clear: both;
			overflow: hidden;

			img {
				@include media('>=tablet', '<=desktop') {
					width: 100%;
					margin-bottom: 30px;
				}
				@include media('>=phone', '<tablet') {
					width: 100%;
					margin-bottom: 24px;
				}
			}
			div img {
				float: left;
			}

		}
		.cs_services_wrap:last-child{
			margin-bottom: 60px;
			padding-bottom: 60px;
			@include media('>=phone', '<tablet') {
				padding-bottom: 35px;
				margin-bottom: 35px;
			}
		}

		.cs_services_text {
			width: 517px;
			float: right;
			@include media('>=tablet', '<=desktop') {
				float: none;
				width: 100%;
				height: auto;
			}
			@include media('>=phone', '<tablet') {
				width: 100%;
			}
		}

		div:nth-child(2) img {
			float: right;
		}
		div:nth-child(2) div {
			float: left;
		}


		h3 {
			margin-bottom: 35px;
			color: $emperor;
			text-decoration: none;	
			@include media('>=phone', '<tablet') {
				margin-bottom: 27px;
			}		
		}

		p {
			margin-bottom: 30px;
		}

		a {
			color: $emperor;
			text-decoration: none;
			font-weight: 300;
			&:hover {
				text-decoration: underline;
			}
		}

		
	}

	.cs_services_text_wrap {
		overflow: hidden;
		margin-bottom: 24px;
		@include media('>=tablet', '<=desktop') {
			width: 100%;
			margin-bottom: 0;
		}
		@include media('>=phone', '<tablet') {
			width: 100%;
		}

		.cs_all_services_text {
			width: 530px;
			height: 155px;
			margin-bottom: 55px;
			float: left;
			a {
				text-decoration: none;
				font-weight: 300;
				&:hover {
					text-decoration: underline;
				}
			}
			@include media('>=tablet', '<=desktop') {
				width: 100%;
			}
			@include media('>=phone', '<tablet') {
				width: 100%;
				height: auto;
				margin-bottom: 0;
			}
			
		}

		#cs_all_services_right {
			float: right;
			/*a{
				text-decoration: none;
			}*/
		}
	}
	
}