#cs_therapists {
	background: $alabaster;
	padding: 106px 0;
	border-top: $gallery 1px solid;
	border-bottom: $gallery 1px solid;
	overflow: hidden;
	margin-bottom: 108px;
	@include media('>=tablet', '<=desktop') {
		width: 100%;
		padding: 80px 0;
		text-align: center;
	}
	@include media('>=phone', '<tablet') {
		padding: 60px 0;
	}
	.cs_mobile_col {
		width: 50%; float: left; padding-right: 30px;
		@include media('>=phone', '<tablet') {
			width: 100%;
			float: none;
			padding: 0;
		}
	}
	.cs_mobile_col_2 {
		width: 50%; float: left;
		@include media('>=phone', '<tablet') {
			width: 100%;
			float: none;
			padding: 0;
		}
	}
	.cs_mobile_col_3 {
		width: 33.33%; float: left; padding-right: 36px;
		@include media('>=phone', '<tablet') {
			width: 100%;
			float: none;
			padding: 0;
		}
	}
	.cs_mobile_col_4 {
		width: 33.33%; float: left;
		@include media('>=phone', '<tablet') {
			width: 100%;
			float: none;
			padding: 0;
		}
	}
	.cs_therapist_6 {
		margin-right: 0 !important;
		@include media('>=tablet', '<=desktop') {
			margin-right: 35px !important;
			vertical-align: top;
		}
		@include media('>=phone', '<tablet') {
			margin: 0 auto !important;
		}
	}
	
	h2 {
		margin-bottom: 32px;
	}

	p {
		margin-bottom: 45px;
		font-size: 19px;

	}

	.cs_therapist {
		width: 167px;
		height: 280px;
		float: left;
		margin: 0 29px 21px 0;
		@include media('>=tablet', '<=desktop') {
			float: none;
			display: inline-block;
			vertical-align: top;
		}
		@include media('>=phone', '<tablet') {
			text-align: center;
			margin: 0 auto;
			float: none;
		}
		a {
			text-decoration: none;
		}

		img {
			margin-bottom: 21px;
		}
		h6 {
			margin-bottom: 12px;
			color: $emperor;
			@include media('>=phone', '<tablet') {
				text-align: left;
				margin-bottom: 9px;
			}
		}
		p {
			font-size: 13px;
			margin-bottom: 45px;
			color: $gray;
			line-height: 15px;
			@include media('>=phone', '<tablet') {
				text-align: left;
			}
		}
		&:hover{
			img {
				opacity: 0.7;
			}
		}
	}

}
